.secaoExp{
    background-color: #121212;
    width: 100%;
    height: 100vh;
}

.exp1{
    margin-top: 30px;
}

.secao-exp{
    padding: 50px;
    max-width: 768px;
    height: 100%;
    margin: 0 auto;
}

.secao-exp h3{
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
}

.titulo{
    margin: 10px 0px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}

.titulo p{
    font-size: 16px;
}

.titulo h4{
    font-size: 24px;
}

h5{
    font-size: 18px;
    color: #00D2DF;
}

.exp1 .descricao{
    margin: 20px 0px 20px;
    font-size: 18px;
    text-align: justify;
    color: #C4C4C4;
    line-height: 32px;
    font-weight: normal;
}

@media (max-width: 850px) {
    h5{
        font-size: 18px;
    }

    .titulo h4{
        font-size: 22px;
    }

    .exp1 .descricao{
        font-size: 12px;
        text-align: justify;
        padding: 0px;
    }
    
}

@media (max-width: 550px) {
    .titulo h4{
        font-size: 16px;
    }

    .titulo p{
        font-size: 12px;
    }

    .exp1 .descricao{
        font-size: 12px;
        text-align: justify;
        padding: 0px;
    }
}